<!DOCTYPE html>
<html>
<head>
  <title>FootStatsSimulator</title>
  <%= stylesheet_link_tag    "foot_stats_simulator/application", :media => "all" %>
  <%= javascript_include_tag "foot_stats_simulator/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
